.virtualized-list {
  position: relative;
  overflow: auto;
  background-color: white;
}

.virtualized-list::-webkit-scrollbar {
  width: 8px;
}

.virtualized-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.virtualized-list::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.virtualized-list::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}